/target
/js/resolc/dist
target-llvm
*.dot
.vscode/
.DS_Store
/*.sol
/*.yul
/*.ll
/*.s
/llvm-*
# Allow llvm submodule directory
!/llvm
node_modules
artifacts
tmp
/*.html
/build
soljson.js
test-results
playwright-report
.cache
emsdk
