[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.dependencies]
hex = "0.4"
petgraph = "0.6"
cc = "1.0"
libc = "0.2"
tempfile = "3.8"
#inkwell = { version = "0.4.0", default-features = false, features = ["llvm16-0", "no-libffi-linking", "target-riscv"] }
inkwell = { path = "../inkwell", default-features = false, features = ["serde-derive", "llvm16-0", "no-libffi-linking", "target-riscv"] }
anyhow = "1.0"
semver = { version = "1.0", features = [ "serde" ] }
itertools = "0.12"
serde = { version = "1.0", features = [ "derive" ] }
serde_json = { version = "1.0", features = [ "arbitrary_precision" ] }
regex = "1.10"
once_cell = "1.19"
num = "0.4"
sha2 = "0.10"
sha3 = "0.10"
md5 = "0.7"
colored = "2.1"
thiserror = "1.0"
which = "5.0"
path-slash = "0.2"
rayon = "1.8"
structopt = { version = "0.3", default-features = false }
rand = "0.8"
primitive-types = { version = "0.12", features = ["codec"] }
polkavm-common = { git = "https://github.com/koute/polkavm.git" } 
polkavm-linker = { git = "https://github.com/koute/polkavm.git" } 
polkavm = { git = "https://github.com/koute/polkavm.git" } 
parity-scale-codec = "3.6"
